ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.mr-mobile-menu-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .mr-mobile-menu-overlay.mr-menu-open {
    opacity: 1;
    visibility: visible; }

body {
  position: relative;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  body.mr-menu-open {
    right: 300px; }

body {
  overflow-X: hidden; }

.mr-mobile-menu {
  position: fixed;
  top: 0;
  height: 100%;
  overflow-y: auto;
  width: 300px;
  z-index: 100;
  overflow-x: hidden;
  background-color: #282d32;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  right: -300px; }
  .mr-mobile-menu.mr-menu-open {
    right: 0; }
  .mr-mobile-menu ul.menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    .mr-mobile-menu ul.menu > li > a {
      padding: 8px 35px 8px 15px;
      display: block;
      font-weight: 300;
      font-size: 16px;
      text-transform: capitalize;
      color: #fff;
      position: relative; }
    .mr-mobile-menu ul.menu > li ul {
      background-color: #3E474F;
      display: none; }
      .mr-mobile-menu ul.menu > li ul li {
        list-style: none;
        position: relative; }
        .mr-mobile-menu ul.menu > li ul li a {
          display: block;
          padding: 8px 35px 8px 15px;
          border-bottom: 1px solid #333a41;
          color: #fff;
          font-size: 14px;
          position: relative; }
        .mr-mobile-menu ul.menu > li ul li ul li a {
          padding: 8px 0 8px 25px; }

.mr-arrow-box {
  display: inline-block;
  float: right;
  width: 30px;
  transition: all 0.3s linear;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; }
  .mr-arrow-box.open {
    transform: rotate(180deg); }
  .mr-arrow-box .mr-down-arrow {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 46%;
    left: 60%;
    transform: translate(-50%, -50%); }
    .mr-arrow-box .mr-down-arrow:after, .mr-arrow-box .mr-down-arrow:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: #fff; }
    .mr-arrow-box .mr-down-arrow:after {
      transform: rotate(45deg) translateX(3px);
      transform-origin: right; }
    .mr-arrow-box .mr-down-arrow:before {
      transform: rotate(-45deg) translateX(-3px);
      transform-origin: left; }

.mr-close-wrapper {
  text-align: right;
  padding: 10px; }
  .mr-close-wrapper .mr-inner-box {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative; }
    .mr-close-wrapper .mr-inner-box .mr-inner {
      display: inline-block; }
      .mr-close-wrapper .mr-inner-box .mr-inner:after, .mr-close-wrapper .mr-inner-box .mr-inner:before {
        content: "";
        position: absolute;
        background-color: white;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 100%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg); }
      .mr-close-wrapper .mr-inner-box .mr-inner:before {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg); }

/*# sourceMappingURL=main.css.map */
